body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #013A63;
}

.searchBar {
    border-radius: 20px;
}

.logo {
    border: 4px solid #A9D6E5;
    background-color: #2A6F97;
    color: white;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.btn-detail {
    background-color: #A9D6E5;
    color: #012A4A;
    border: none;
}

.feaured {
    border-left: 5px solid #2A6F97;
}

.imgBorder {
    border: 1px solid black;
}

.site-footer {
    background-color: rgba(169, 214, 229, 0.5);
}

.textarea-height {
    height: 300px;
}

.modal-header {
    background-color: #013A63;
}

.card-genre {
    font-size: .75rem;
}